<!doctype html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org/">
  <head>
    <title>Produtos - Padoca do Saep</title>
  </head>
  <body>
    <h1>Cadastro de Produtos</h1>
    <a href="/principal">Voltar a tela principal</a>

    <form method="get" action="/produtos">
      <input
        type="text"
        name="buscaProduto"
        th:value="${buscaProduto}"
        placeholder="Buscar produto..."
      />
      <button type="submit">Buscar Produtos</button>
    </form>

    <table border="1">
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Quantidade</th>
        <th>Estoque Mínimo</th>
        <th>Categoria</th>
        <th>Ações</th>
      </tr>
      <tr th:each="produto : ${produtos}">
        <td th:text="${produto.nome}"></td>
        <td th:text="${produto.descricao}"></td>
        <td th:text="${produto.quantidade}"></td>
        <td th:text="${produto.estoqueMinimo}"></td>
        <td th:text="${produto.categoria}"></td>
        <td>
          <!-- ação de editar.. -->
          <a th:href="@{/produtos/editar/{id}(id=${produto.id})}">Editar</a>

          <!-- ação de excluir.. -->
          <form
            th:action="@{/produtos/deletar/{id}(id=${produto.id})}"
            method="post"
          >
            <button
              type="submit"
              onsubmit="return confirm('Deseja excluir esse produto?');"
            >
              Excluir
            </button>
          </form>
        </td>
      </tr>
    </table>

    <h2>
    <a href="/produtos/novo">Novo Produto :)</h2>
  </body>
</html>
